@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('src/assets/wishscreen.jpg') no-repeat;
    background-size: cover;
}

.bannerName {
    position: relative;
    left: 60px;
    top: 20px;
}

.bannerImage {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    top: 100px;
}

.details {
    position: relative;
    font-weight: bold;
}


* {
    cursor: url('src/assets/cursor.png'), auto;
}
