@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('src/assets/wishscreen.jpg') repeat;
    background-size: cover;
}

.bannerName {
    position: relative;
    left: 60px;
    top: 20px;
}

.bannerImage {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    top: 70px;
}

.details {
    position: relative;
    top: 30px;
}

.wish {
    position: relative;
    left: 75%;
    top: 70px;
}

* {
    cursor: url('src/assets/cursor.png'), auto;
}
