@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('src/assets/wishscreen.jpg') no-repeat;
    background-size: cover;
}

* {
    cursor: url('src/assets/cursor.png'), auto;
}
